/* ----- ----- DATOS GENERALES ----- ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----- ----- VARIABLES ----- ----- */

:root {
    --color-day                 : #FFFFFF;
    --color-night               : #0c093c;
    --color-dark-alt            : #59595a;
    --color-red                 : #fe385f;

    --color-header              : #fad6d6;
    --color-header-inverse      : #776edd;
  
    --color-background          : #2f336b;
    --color-background-inverse  : #b8badf;
  
    --word-font                 : 40px;
    --word-height               : 40px;
    --word-timing               : cubic-bezier(0.8, 0.01, 0.975, 0.71);
    --word-duration             : 0.8s;

    --body-font                 : 'Ubuntu', sans-serif;
}

/* ----- ----- WEBSITE ----- ----- */

body {    
    font-family: 'Teko', sans-serif;
    color: var(--color-dark-alt);
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: var(--color-day);
    overflow: hidden;
}

h1 {
    font-size: 80px;
    padding: 25px 0 15px;
    background: var(--color-header);
    width: 100%;
    text-align: center;
    color: var(--color-night);
    z-index: 1;
}

input[type="checkbox"] {
    appearance: none;
    visibility: hidden;
    display: none;
}

.check {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background: var(--color-night);
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
}

input[type="checkbox"]:checked ~ .check {
    background: var(--color-day);
    box-shadow: 0 0 0 1200px var(--color-night);
}

.check:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background: var(--color-day);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
}

input[type="checkbox"]:checked ~ .check:before {
    transform: translateX(-50px);
}

.check:after {
    content: '';
    position: absolute;
    top: 2px;
    right: 2px;
    background: var(--color-night);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(50px);
}

input[type="checkbox"]:checked ~ .check:after {
    transform: translateX(0px);
}

/* ----- ----- Se agrego nuevos estilos para reses sociales ----- ----- */
/* ------------------------- */
/* SOCIAL MEDIA */
/* ------------------------- */
.social-media-footer {
    --font-color: var(--color-header);
    --font-size: 0.8rem;
    z-index: 1;
    font-family: var(--body-font);
  }
  
  .social-columns {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.625rem;
    font-size: var(--font-size);
    color: var(--font-color);
    font-family: var(--body-font);
    width: 100%;
  }
  
  .social-columns .column {
    padding: 0.4rem;
    text-align: center;
  }
  
  .social-columns a {
    text-decoration: none;
    color: var(--font-color);
  }

  .social-columns a:hover {
    text-decoration: underline;
  }
  
  /* GITHUB */
  .github-code {
    color: var(--font-color);
    font-size: 0.8rem;
    text-align: center;
  }
  
  .github-code a {
    text-decoration: none;
    color: var(--font-color);
  }

  .github-code a:hover {
      text-decoration: underline;
  }

  /* ----- ----- Final ----- ----- */