* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-day    : #FFF;
    --color-night  :#181814;
    --color-dark-alt: #59595a;

    --body-font: 'Ubuntu', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

input[type="checkbox"] {
    appearance: none;
    visibility: hidden;
    display: none;
}

.check {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background: var(--color-night);
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
}

input[type="checkbox"]:checked ~ .check {
    background: var(--color-day);
    box-shadow: 0 0 0 1200px var(--color-night);
}

.check:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background: var(--color-day);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
}

input[type="checkbox"]:checked ~ .check:before {
    transform: translateX(-50px);
}

.check:after {
    content: '';
    position: absolute;
    top: 2px;
    right: 2px;
    background: var(--color-night);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(50px);
}

input[type="checkbox"]:checked ~ .check:after {
    transform: translateX(0px);
}

.title {
    font-family: 'Teko', sans-serif;
    opacity: .9;
    margin: 10px;
    color: var(--color-dark-alt);
    z-index: 1;
}

/* ----- ----- Se agrego nuevos estilos para reses sociales ----- ----- */
/* ------------------------- */
/* SOCIAL MEDIA */
/* ------------------------- */
.social-media-footer {
    --font-color: rgb(255, 255, 255);
    margin-top: 0.9375rem;
    font-family: var(--body-font);
  }
  
  .social-columns {
    display: flex;
    justify-content: center;
    padding-bottom: 0.625rem;
    font-size: 0.7rem;
    color: var(--font-color);
    font-family: var(--body-font);
    width: 100%;
  }
  
  .social-columns .column {
    padding: 0.4rem;
    text-align: center;
  }
  
  .social-columns a {
    text-decoration: none;
    color: var(--font-color);
  }
  
  .github-code {
    color: var(--font-color);
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 0.625rem;
  }
  
  .github-code a {
    text-decoration: none;
    color: var(--font-color);
  }
  
  .github-code a:hover {
    text-decoration: underline;
  }